<template>
  <div id="moodals">
    <transition name="fade">
      <div class="modal-edit" v-if="ModalEdit">
        <div @click="CloseModal" class="close">x</div>
        <h2>Edit Element</h2>
        <!-- {{UsertoUpdate}} -->
        <input
          type="text"
          placeholder="name"
          v-model="NewName"
          @keyup.enter.up="SaveName"
        />
        <input type="text" placeholder="phone" v-model="Newphone" />
        <input type="text" placeholder="address" v-model="Newaddress"/>
        <input type="text" placeholder="website" v-model="Newwebsite"/>
        <button @click="SaveName">Save</button>
        <button @click="CloseModal">Go back</button>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Modals",
  data() {
    return {
      ModalEdit: false,
      UsertoUpdate: {},
      NewName: "",
      Newphone: "",
      Newwebsite: "",
      Newaddress: "",
    };
  },
  methods: {
    CloseModal: function () {
      this.ModalEdit = !this.ModalEdit;
    },
    SaveName: function () {
      if (this.NewName) {
        this.UsertoUpdate.name = this.NewName;
        this.UsertoUpdate.phone = this.Newphone;
        this.UsertoUpdate.website = this.Newwebsite;
        // this.UsertoUpdate.address.street = this.Newaddress;
      } else {
        this.ModalEdit = false;
        console.log(this.UsertoUpdate.name);
      }
    },
  },
  mounted() {
    this.$root.$on("ShowMyModal", (user) => {
      this.CloseModal();
      this.UsertoUpdate = user;
    });
  },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
#modals {
  z-index: 2;
}
.modal-edit {
  border: 2px solid blue;
  width: 300px;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  background-color: #fff;
  z-index: 2;
}
</style>