<template>
  <div>
    <input type="text" placeholder="Name" @keyup="FindPerson" />
    <button @click="ClearAll">Clear</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      inputValue: "",
    };
  },
  methods: {
    FindPerson: function () {
      this.$emit("SearchTasks", this.inputValue);
    },
    ClearAll :function(){
      this.$emit("RemoveAll")
    }
  },
};
</script>

<style></style>
